# =========================
# Operating System
# =========================
.DS_Store
Thumbs.db

# =========================
# VS Code
# =========================
.vscode/

# =========================
# IDE
# =========================
.idea/
*.iml

# =========================
# Logs & Temporary Files
# =========================
*.log
*.tmp
*.temp

# =========================
# Environment / Secrets
# =========================
.env
.env.*
!.env.example

# =========================
# Java / Maven
# =========================
**/target/
**/*.class

# =========================
# Node / Angular
# =========================
**/node_modules/
**/dist/
**/.angular/

# =========================
# Build / Coverage
# =========================
**/coverage/

# =========================
# OS / Editor Backup Files
# =========================
*.swp
*.swo
*~